{% extends "Shop/base.html" %}

{% block content %}

<h2 id="product_txt_big">Реалізація Дипломного проекту:</h2>

<div>
    <p id="product_txt_big3">Цей проект є результатом мого навчання в рамках курсу з Python для бекенд-розробників від ITstep Academy,
    і він присвячений створенню власного інтернет-магазину. Моя робота охоплює вдосконалення навичок бекенд-розробки та втілення власного концептуального погляду на дизайн магазину.</p>

    <p id="product_txt_big3">Під час розробки магазину я реалізував різноманітні ідеї та концепції, щоб забезпечити унікальний та привабливий вигляд. Важливою частиною проекту є не лише створення функціонального магазину, а й врахування моїх власних ідей та бачення щодо його дизайну.</p>

    <p id="product_txt_big3">Моя робота не лише націлена на реалізацію базового функціоналу інтернет-магазину, але й на виокремлення особливостей, які роблять його унікальним. Додатково до технічної частини, я детально розглянув і втілив свої концептуальні ідеї, щоб забезпечити користувачам цікавий та зручний досвід під час використання магазину.</p>

    <p id="product_txt_big3">Цей проект відображає мою відданість навчанню та професійному розвитку, а також висвітлює мої зусилля у вивченні та застосуванні концепцій бекенд-розробки в реальних проектах.</p>
</div>



{% endblock %}