
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Дипломний проект.</title>
    <link href="{% static 'Shop/style.css' %}" rel="stylesheet">
    <style>
        body {
            background-image: url('{% static "Shop/img/back1.jpg" %}');
        }
    </style>
</head>

<body>
    <div class="wrapper">

        <div class="header">
            <ul id="logo1">
                <li id="logo2"><a id="logo3" href="{% url 'index' %}">Головна</a></li>
                <li id="logo2"><a id="logo3" href="{% url 'contact' %}">Контакти</a></li>
                <li id="logo2"><a id="logo3" href="{% url 'about' %}">Про нас</a></li>
                <li id="logo2"><a id="logo3" href="{% url 'user' %}">Користувач</a></li>
            </ul>
        </div>

        <div class="logo">

            <img id="logo_img" src="https://cdn.shopify.com/s/files/1/0411/9216/1431/files/SEDIMAT_e-shop_1e7ef541-75d6-4d59-8fe9-72b834dc94d5.png?v=1600772959">



        </div>
        <div class="field">
            <table class="table_field">
                <tr>
                    <td height="40"><a id="logo3" href="{% url 'index' %}">Головна</a></td>
                    <td width="300"><a id="logo3" href="{% url 'contact' %}">Контакти</a></td>
                    <td width="300"><a id="logo3" href="{% url 'about' %}">Про нас</a></td>
                    <td width="300">
                        {% block basket %}

                        {% endblock %}

                    </td>
                </tr>

            </table>
        </div>
        <div class="center">

            <div class="cont">

                {% block content %}

                {% endblock %}

            </div>

            <div class="navigation">

                {% block content1 %}

                {% endblock %}

            </div>

            <div class="cont1">

                {% block content2 %}

                {% endblock %}

            </div>
        </div>


    </div>
    <div class="footer">

        <div class="header">
            <ul id="logo1">
                <li id="logo2"><a id="logo3" href="{% url 'index' %}">Головна</a></li>
                <li id="logo2"><a id="logo3" href="{% url 'contact' %}">Контакти</a></li>
                <li id="logo2"><a id="logo3" href="{% url 'about' %}">Про нас</a></li>
                <li id="logo2"><a id="logo3" href="{% url 'user' %}">Користувач</a></li>
            </ul>
        </div>
    </div>

<script>


    function addInput() {
    // Створення нового інпуту файлу
    var newInput = document.createElement('input');
    newInput.type = 'file';
    newInput.name = 'img';
    newInput.className = 'form-control1';

    // Додавання нового інпуту до форми
    document.getElementById('test').appendChild(newInput);
    }
</script>

</body></html>

