{% extends "Shop/base.html" %}

{% block content1 %}
{% if user.is_authenticated %}

<img class="avatar" src="{{ userinfo.avatar.url }}" width="100">
<a id="logo_text" href="{% url 'user' %}">{{ user.username }}</a>
<a href="{% url 'logout' %}" id="del_1bask">Вийти</a>

<br>
{% else %}


<form class="navbar-form navbar-right" method="POST" role="form" action="{% url 'login' %}">
    {% csrf_token %}

    <input type="text" class="table_basket1" name="username" id="username0" placeholder="Ваш нікнейм">

    <input type="password" class="table_basket1" name="password" id="password0" placeholder="Пароль">

    <button type="submit" id="del_1bask">Війти</button>
</form>
<a id="del_3bask" style="background-color: #16496e;" href="{% url 'user' %}">Зареєеструватись</a>



{% endif %}

{% if request.user.is_staff %}

{% endif %}

{% for cat in category %}
    <div class="category" style="background-image: url('{{ cat.img_cat.url }}');">
        <a id="category" href="{% url 'category' name=cat.name id=0 %}">{{ cat.name }}</a>
    </div>
{% endfor %}


{% endblock %}


{% block content %}


{% for prod in product %}
<div class="product">
    {% if prod.imgproduct_set.all %}
    <div class="img_buf" >
        <img class="product_img" src="{{ prod.imgproduct_set.first.img.url }}" alt="Зображення поста">
    </div>
    {% endif %}
    <div id="buf_txt">
    <a id="product_txt" href="{% url 'product' id=prod.id %}">{{ prod.name }}</a>
    <p id="product_txt">Ціна {{ prod.price }} грн</p>
    </div>

</div>
{% endfor %}


{% endblock %}

{% block content2 %}
<table id="navi">
        <tr>
            <td><a href="{% url 'page' id=i %}" id="button_right">Наступна</a></td>

        </tr>
</table>

{% endblock %}

{% block basket %}

{% if user.is_authenticated %}

<a id="logo_text1"  href="{% url 'user' %}">Кошик</a>
<p id="logo_text1" >Товарів: {{ basket }} штук</p>
<p id="logo_text1" >Сума {{ sum }} грн </p>

{% else %}
<a id="logo_text1"  href="{% url 'basket' %}">Кошик</a>
<p id="logo_text1" >Товарів: {{ no_user.1 }} штук</p>
<p id="logo_text1" >Сума {{ no_user.2 }} грн </p>
{% endif %}

{% endblock %}